.banner h1{
    padding: 1.6em;
    margin-left: 100px;
    font-size: 1.5em;
}

.plage_corbieres,.plage_catalans,.plage_malmousque,.plage_pointerouge,.plage_prophete,.plage_prado{
    width: 30vw;
    background-color: rgba(213, 219, 137, 0.534);
    transition-property: background-color;
    transition-duration: 1s;
}

.plage_corbieres:hover,.plage_catalans:hover,.plage_malmousque:hover,.plage_pointerouge:hover,.plage_prophete:hover,.plage_prado:hover {
    background-color: #fadd8c;
    

}

.org{
    margin-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-evenly;
}

/* MEDIA QUERIES FOR TABLET VIEW */
@media all and (max-device-width: 820px) {
	.banner h1{
        margin-left: 0;
        text-align: center;
    }

    .plage_corbieres,.plage_catalans,.plage_malmousque,.plage_pointerouge,.plage_prophete,.plage_prado{
        width: 45vw;
    }
}

/* MEDIA QUERIES FOR MOBILE VIEW */
@media all and (max-device-width: 480px) {
	.banner h1{
        margin-left: 0;
        text-align: center;
    }

    .plage_corbieres,.plage_catalans,.plage_malmousque,.plage_pointerouge,.plage_prophete,.plage_prado{
        width: 80vw;
    }
}