.flex-list{
    margin: 2em;
    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: center;
    justify-content: center;
}

.order1,.order2,.order3,.order4,.order5,.order6{
    width: 80%;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 1em;
    display:flex;
    gap: 3em;
    background-color: rgb(226, 225, 225);
    justify-content: center;
    transition-property: background-color;
    transition-duration: 1s;
}

.order1:hover,.order2:hover,.order3:hover,.order4:hover,.order5:hover,.order6:hover{
    background-color: rgb(200, 200, 200);
}

.image {
    width: 30vw;
    border-radius: 10px;
}

.titre{
    margin-left: 90px;
}

section.top-page{
    background: url("assets/museum/mucem.gif");
    background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
    padding: 1.6em;
    background-color: whitesmoke;
}

.osef{
    margin-top: 50px;
}

.osef img {
    background-color: white;
    border-radius: 10px;
}

.big-title{
    background-color: white; 
    border-radius: 10px; 
    padding-left: 0.8em;
    width: 8.8em;
    font-size: 60px;
    margin-top: 300px;
}

/* MEDIA QUERIES FOR TABLET VIEW */
@media all and (max-device-width: 820px) {
    .titre{
        margin-left: 0px;
        text-align: center;
    }
    
    .osef{
        margin-top: 2em;
    }
    
    .big-title{
        margin-top: 200px;
    }

    .order1,.order2,.order3,.order4,.order5,.order6{
        display:flex;
        flex-direction: column;
        gap: 1em;
    }

    .image {
        width: 100%;
    }
}

/* MEDIA QUERIES FOR MOBILE VIEW */
@media all and (max-device-width: 480px) {
    .titre{
        margin-left: 0px;
        text-align: center;
    }

    .osef{
        margin-top: 3em;
    }
    
    .osef img {
        width: 60%;
    }
    
    .big-title{
        margin-top: 96px;
        font-size: 2em;
    }

    .order1,.order2,.order3,.order4,.order5,.order6{
        display:flex;
        flex-direction: column;
        gap: 1em;
    }

    .image {
        width: 100%;
    }
}