.fond h1{
    padding: 1.6em;
    margin-left: 100px;
    font-size: 1.5em;
}

.org{
    margin-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-evenly;
}

.title{
    margin-left: 10px;
    padding: 2em;
    font-size: 2em;
}

.massalia,.cafe,.peste,.sardine,.canal,.om{
    width: 30vw;
    background-color: rgb(243, 216, 181);
    transition-property: background-color;
    transition-duration: 1s;
}

.massalia:hover,.cafe:hover,.peste:hover,.sardine:hover,.canal:hover,.om:hover{
    background-color: burlywood;
}


/* MEDIA QUERIES FOR TABLET VIEW */
@media all and (max-device-width: 820px) {
	.fond h1{
        margin-left: 0;
        text-align: center;
    }

    .massalia,.cafe,.peste,.sardine,.canal,.om{
        width: 45vw;
    }
}

/* MEDIA QUERIES FOR MOBILE VIEW */
@media all and (max-device-width: 480px) {
	.fond h1{
        margin-left: 0;
        text-align: center;
    }

    .massalia,.cafe,.peste,.sardine,.canal,.om{
        width: 80vw;
    }
}